Краткое описание игры:
При запуске мы можем вдеть главное меню, и две кнопки в нем - 1 запустит игру, а вторая из неё выйдет.
После запуска:
Стрелочка вверх - повернуть фигуру
Стрелочка вправо - сместить фигуру на клетку вправо
Стрелочка влево - сместить фигуру на клетку влево
Стрелочка вниз - ускорить падение
ESC - вернуться в меню
Когда игра закончится:
ESC - вернуться в меню
ENTER - перезапустить иру

Приятной игры!